{% extends "blog/form_cust.html %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
    <h1>Восстановление пароля</h1>
    {% if validlink %}
        <p>Введите новый пароль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Установить пароль"></p>
        </form>
    {% else %}
        <p>Ваш пароль совпадает со старым! Запросите новый пароль!</p>
    {% endif %}
{% endblock %}