.page-header {
    background-color: #303B44;
    margin-top: 0;
    padding: 20px 20px 20px 40px
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 36pt;
    text-decoration: none;
}

.content div div {
    margin-left: 40px;
    background-color: #d1d1d1;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}


.underhead, .underhead a {
    padding: 0px;
    background-color: #ffffff;
    margin: 10px;
    margin-right: 5px;
    color: #828282;
    text-decoration: none;
}

.underhead a:hover {
    color: b8d4fc;
}

.logged {
    font-family: 'Lobster', cursive;
    color: #000000;
    font-size: 36pt;
    padding-top: 25px;
    float: right;
}

.comment-author {
    font-size: 20pt;
    color: #000000;
    margin-top: 30px;
}
